@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark, myTheme;
};

@plugin "daisyui/theme" {
  name: "SVG";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.013 236.62);
  --color-base-200: oklch(95% 0.026 236.824);
  --color-base-300: oklch(82% 0.111 230.318);
  --color-base-content: oklch(37% 0.146 265.522);
  --color-primary: oklch(37% 0.146 265.522);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(55% 0.288 302.321);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(65% 0.241 354.308);
  --color-accent-content: oklch(95% 0.038 75.164);
  --color-neutral: oklch(54% 0.245 262.881);
  --color-neutral-content: oklch(98% 0.016 73.684);
  --color-info: oklch(42% 0.199 265.638);
  --color-info-content: oklch(97% 0 0);
  --color-success: oklch(44% 0.119 151.328);
  --color-success-content: oklch(92% 0.004 286.32);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(96% 0.007 247.896);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}