<header class="bg-gradient-to-r from-blue-400 to-purple-600 shadow-lg rounded-b-2xl relative z-10">
  <div class="max-w-[1100px] mx-auto flex flex-col md:flex-row items-center justify-between px-6 py-3">
    <nav>
      <ul class="flex flex-col md:flex-row gap-4 md:gap-10 items-end md:items-center">
        <li><a href="/" class="text-white font-medium text-lg px-3 py-1 rounded-md hover:bg-white/20 hover:text-pink-300 transition">Accueil</a></li>
        <li><a href="/gallery" class="text-white font-medium text-lg px-3 py-1 rounded-md hover:bg-white/20 hover:text-pink-300 transition">Galerie</a></li>
      </ul>
    </nav>
  </div>
</header>
